
<%= form_with(model: valorparametro, local: true,id:"frm_valp") do |form| %>
 
  <% if valorparametro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(valorparametro.errors.count, "error") %> prohibited this valorparametro from being saved:</h2>

      <ul>
      <% valorparametro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label for="valor" class="col-sm-2 col-form-label">Valor:</label>
    <div class="col-sm-4">
    <%= form.text_field :valor, id: :valorparametro_valor %>
    </div> 
  </div>
 <div class="form-group row">
     <label for="parametro_id" class="col-sm-2 col-form-label">Parametro:</label>
    <div class="col-sm-4">
    <%= form.text_field :parametro_id, id: :valorparametro_parametro_id,:readonly => true,value:@idp %>
    </div> 
  </div>
  <div class="form-group row">
     <label for="valor" class="col-sm-2 col-form-label">Estado:</label>
    <div class="col-sm-4">
    <%= form.text_field :estadovalorparametro, id: :valorparametro_estadovalorparametro %>
    </div> 
  </div>

  <div class="form-group row">
     <label for="orden" class="col-sm-2 col-form-label">Orden:</label>
    <div class="col-sm-4">
    <%= form.text_field :orden, id: :valorparametro_orden %>
    </div> 
  </div>

  <div class="form-group row">
    <label for="idpadre" class="col-sm-2 col-form-label">Padre:</label>
    <div class="col-sm-4">
    <%= form.number_field :idpadre, id: :valorparametro_idpadre %>
    </div> 
  </div>
  <div class="actions">
    <%= form.submit "Guardar",class:"btn btn-warning btn-sm" %>
    <% if @swope == 1 %>
       <%= link_to 'Eliminar', :valorparametro,class:"btn btn-danger btn-sm ml-2", method: :delete, data: { confirm: 'Esta Seguro de ELiminar este Re?' } %>
    <% end %>
    <a href="/valp/<%= @idp %>" class="btn btn-info btn-sm mb-1">Regresar</a>
  </div>
<% end %>
