
<h4> Información de Parámetro</h4>
<hr class="division">
<div class="container " id="contenido">
 <%= link_to 'Regresar', parametros_path,class:"btn btn-info btn-sm" %>	
 <%= link_to 'Modificar', edit_parametro_path(@parametro),class:"btn btn-success btn-sm" %> 
 <p id="notice"><%= notice %></p>

 <table class="table table-striped">
  	<tr >
  		<td>Id</td>
 		<td>Atributo</td>
        <td>Descripción</td>
        <td>Estado</td>
 	</tr>
 	<tr >
 		<td ><%= @parametro.id %></td>
 		<td><%= @parametro.atributo %></td>
 		<td><%= @parametro.descripcion %></td>
        <td><%= @parametro.estadoparametro %></td>
 	</tr> 
 </table>
 <hr>
    <iframe id="valp" src="/valp/<%= @parametro.id %>" frameborder="0" style="border:0;width:100%;height:600px;" scrolling="yes"></iframe>
 </div>

 

