<h4>Información de Permiso</h4>
<hr>
<p id="notice"><%= notice %></p>
<table class="table table-borderless">
<tr class="d-flex">
  <td class="col-3">ROl:</td>
  <td class="col-3"><%= @role_option_operation.idrol %></td>
</tr>
<tr class="d-flex" >
  <td class="col-3">Operacion:</td>
  <td class="col-3"><%= @role_option_operation.idoperacion %></td>
</tr>
<tr  class="d-flex">
  <td class="col-3">Opcion:</td>
  <td class="col-3"><%= @role_option_operation.options_id %></td>
</tr>
<tr  class="d-flex">
  <td class="col-3">Estado:</td>
  <td class="col-3"><%= @role_option_operation.estadorolop %></td>
</tr>
</table>

<%= link_to 'Modificar', edit_role_option_operation_path(@role_option_operation),class:"btn btn-success btn-sm" %> 
<%= link_to 'Regresar', role_option_operations_path,class:"btn btn-info btn-sm ml-2" %>
