<p id="notice"><%= notice %></p>
<table>

<p>
  <strong>Usuario:</strong>
  <%= @user.usuario %>
</p>


<p>
  <strong>Identidad:</strong>
  <%= @user.identidad %>
</p>

<p>
  <strong>Idtipoentidad:</strong>
  <%= @user.idtipoentidad %>
</p>

<p>
  <strong>Idestadousuario:</strong>
  <%= @user.idestadousuario %>
</p>

<p>
  <strong>Idrol:</strong>
  <%= @user.idrol %>
</p>

<%= link_to 'Editar', edit_user_path(@user) ,class:"btn btn-success btn-sm mb-2" %> 
<%= link_to 'Back', users_path, class:"btn btn-info btn-sm mb-2 ml-2"%>
