<p id="notice"><%= notice %></p>

<p>
  <strong>Idpadre:</strong>
  <%= @option.idpadre %>
</p>

<p>
  <strong>Opcion:</strong>
  <%= @option.opcion %>
</p>

<p>
  <strong>Url:</strong>
  <%= @option.url %>
</p>

<p>
  <strong>Estadoopcion:</strong>
  <%= @option.estadoopcion %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @option.orden %>
</p>

<p>
  <strong>Eshoja:</strong>
  <%= @option.eshoja %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @option.controller %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @option.eliminado %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
