<%= form_with(model: producto, local: true) do |form| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group row">
          <label for="nombre" class="col-sm-2 col-form-label">Nombre*</label>
          <div class="col-sm-4">
          <%= form.text_field :nombre, :required => true, id: :producto_nombre,class:"form-control" %>		    
          </div>
    </div>
    <div class="form-group row">
      <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
      <div class="col-sm-4">
          <%= form.text_field :descripcion, id: :producto_descripcion, class:"form-control" %>
      </div>
    </div>

<div class="form-group row">
      <label for="ref" class="col-sm-2 col-form-label">Referencia</label>
      <div class="col-sm-4">
          <%= form.text_field :ref, id: :producto_ref, class:"form-control" %>
      </div>
  </div>
<div class="form-group row">
      <label for="precio" class="col-sm-2 col-form-label">Precio</label>
      <div class="col-sm-4">
          <%= form.number_field :precio, id: :producto_precio, class:"form-control" %>
      </div>
 </div>
 <% tipos = options_from_collection_for_select(@tipos, "id","valor",producto.idtipoproducto) %>
  <div class="form-group row">
   <label for="tipo" class="col-sm-2 col-form-label">Tipo:</label>
     <div class="col-sm-4">
      <%= form.select(:idtipoproducto, tipos,{},{class:"form-control"} ) %>
      </div>
  </div>
 <% categorias = options_from_collection_for_select(@categorias, "id","valor",producto.idcategoriaproducto) %>
  <div class="form-group row">
   <label for="tipo" class="col-sm-2 col-form-label">Categoria:</label>
     <div class="col-sm-4">
      <%= form.select(:idcategoriaproducto, categorias,{},{class:"form-control"} ) %>
      </div>
  </div>
<div class="form-group row">
      <label for="stock" class="col-sm-2 col-form-label">Stock:</label>
      <div class="col-sm-4">
          <%= form.number_field :stock, id: :producto_stock, class:"form-control" %>
      </div>
  </div>

 <div class="form-group row">
      <label for="imagen" class="col-sm-2 col-form-label">imagen</label>
      <div class="col-sm-4">
          <%= form.text_field :imagen, id: :producto_imagen, class:"form-control" %>
      </div>
  </div>

  <% estados = options_from_collection_for_select(@estados, "id","valor",producto.idestadoproducto) %>
  <div class="form-group row">
   <label for="tipo" class="col-sm-2 col-form-label">Estados:</label>
     <div class="col-sm-4">
      <%= form.select(:idestadoproducto, estados,{},{class:"form-control"} ) %>
      </div>
  </div>

  <div class="actions">
    <%= form.submit "Guardar",class:"btn btn-warning btn-sm" %>
    <% if @swope == 1 %>
       <%  if @operaciones.include?("Eliminar") %>
          <%= link_to 'Eliminar', producto,class:"btn btn-danger btn-sm ml-2", method: :delete, data: { confirm: 'Esta Seguro de ELiminar este Re?' } %>
        <% end %>
    <% end %>
    <a href="/listarProductos" class="btn btn-info btn-sm ml-2">Regresar</a>
  </div>
<% end %>
