<div class="contenedor">
   
    <% @productosExt.each do |producto| %>
		<div class="card p-1 ancho m-3">
		  <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
		  <div class="text-center"> <img src="/imagenes/productos/<%= producto['imagen'] %>"></div>		 
		  <div class="card-body p-1">
		    <h6 class="card-title"><%= producto['nombre'] %></h6>
		    <p class="card-text t2"><%= producto['descripcion'] %></p>
		  </div>
		  <ul class="list-group list-group-flush p-1">
		    <li class="list-group-item"><span class="font-weight-bold text-primary">PRECIO:</span> $<%= producto['precio'] %></li>
		    <li class="list-group-item">
		       <p class="card-text t2 m-0 p-0">Stock :<%= producto['stock'] %></p>
               <p class="card-text t2 m-0 p-0">Tipo :<%= producto['tipo'] %></p>
		       <p class="card-text t2 m-0 p-0">Categoría :<%= producto['categoria']  %></p>
		   </li>

		  </ul>
		  <div class="card-body p-1 text-center">
		  	<form action="agregarCarrito" method="POST">
		  		Cant : <input type="number" name="cant" value="1" Style="height:28px;width:40px;">
		  		<input type="hidden" name="id" value="<%= producto['id'] %>">
		  		<input type="hidden" name="nombre" value="<%= producto['nombre'] %>">
		  		<input type="hidden" name="precio" value=<%= producto['precio'] %>">			 
		        <button type="submit" class="btn btn-primary btn-sm">
				  <i class="fa fa-plus"></i> Carrito
		 	    </button>	
		    </form>
		  </div>
		</div>
  <% end %>
</div>
