<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @producto.ref %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Idtipoproducto:</strong>
  <%= @producto.idtipoproducto %>
</p>

<p>
  <strong>Idcategoriaproducto:</strong>
  <%= @producto.idcategoriaproducto %>
</p>

<p>
  <strong>Idestadoproducto:</strong>
  <%= @producto.idestadoproducto %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @producto.stock %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @producto.imagen %>
</p>

<p>
  <strong>Eliminado:</strong>
  <%= @producto.eliminado %>
</p>
<%  if @operaciones.include?("Modificar") %>
   <%= link_to 'Editar', edit_producto_path(@producto),class:"btn btn-success btn-sm" %> 
<% end %>
<a href="/listarProductos" class="btn btn-info btn-sm ml-2">Regresar</a>
